<div class="store">
  <app-cart *ngIf="currentUser.role == 'user' && showCart"></app-cart>
  <button *ngIf="currentUser.role == 'user' && showCart" pButton type="button" icon="pi pi-angle-double-left" class="p-button-rounded" (click)="showCart=false"></button>
  <button *ngIf="currentUser.role == 'user' && !showCart" pButton type="button" icon="pi pi-angle-double-right" class="p-button-rounded" (click)="showCart=true"></button>
  <app-add-or-edit-product *ngIf="currentUser.role == 'admin'"></app-add-or-edit-product>
  <app-products [ngStyle]="{'width': showCart ? '70%' : '100%'}" ></app-products>
</div>

