.store{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}


app-cart, app-add-or-edit-product, app-products{
  height: 83vh;
  overflow: auto;
}

app-cart{
  width: 35%;
}

app-products{
  min-width: 60%;
  width: 100%;
  padding: 0 !important;
}

app-add-or-edit-product{
  margin-right: 10px;
}
.card{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 960px) {
  app-cart{
    display: block;
    width: fit-content;
    height: fit-content;
  }
  .store{
    display: block;
  }
}


