.plus-or-minus-button{
  padding: 0;
  display: inline-block;
}
.product-amount-input{
  width: 50px;
}
.amount-input-container{
  display: flex;
  justify-content: center;
}

.amount-error{
  color: red;
  margin-top: 10px;
}

.no-products{
  margin-top: 25px;
  color: red
}

.product-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;
  height: 100px;
}

h2{
  text-align: center;
}
