<!-- <div>
  <a routerLink="start-screen">Start screen</a>
  <a routerLink="store">Store</a>
</div> -->
<!-- <div>
  <p-button label="Hello"></p-button>
</div> -->

<!-- <mat-toolbar color="primary">
  <span><mat-icon>shopping_cart</mat-icon>Giant Food</span>

  <div class="spacer"></div>

  <button mat-button>Search</button>
  <input type="text">
  <a mat-raised-button color="accent">Log Out</a>
</mat-toolbar> -->

<!-- <div style="height: 25vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button *ngIf="true" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><mat-icon>shopping_cart</mat-icon>Giant Food</span>

      <span class="menu-spacer"></span>
        <span class="hello">Hello Razrazrazraz</span>
      <div *ngIf="true" fxShow="true" fxHide.lt-md>
        <a href="#" mat-button>Search</a>
        <input type="text" name="" id="">
        <a href="#" mat-button>Log Out</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-button>Search</a>
        <input type="text" name="" id="">
        <a href="#" mat-list-item>Log Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</div> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <span class="logo">Giant Food</span>
  <span class="name" *ngIf="!currentUser">Hello Guest</span>
  <span class="name" *ngIf="currentUser">Hello {{currentUser.firstName}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">

      </li> -->
    </ul>
    <a (click)="onLogOutClicked()" *ngIf="currentUser" class="nav-link" href="#">Log Out<span class="sr-only">(current)</span></a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


