
/* .menu-spacer {
  flex: 1 1 auto;
}

input{
  margin-right: 10px;
  border-radius: 3px;
}
.hello{
  margin: 0px 10px;
  font-size: 15px;
} */


.logo{
  font-size: large;
}
.name{
  margin-left: 20px;
}

/* .navbar{
  background-color: wheat;
} */
