<!-- <a routerLink="login">Login</a>
<a routerLink="register">Register</a> -->
<!-- <div class="start-page-container">
  <div class="left-div">
    <router-outlet></router-outlet>
  </div>
  <div class="middle-div">
    <p>middle div</p>
  </div>
  <div class="right-div">
    <p>right div</p>
  </div>
</div> -->

<div class="start-page-container">
  <router-outlet></router-outlet>
  <p-card header="Simple Card" [style]="{'width': '25rem', 'height': '600px', 'margin-bottom': '2em'}">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
  </p>
  </p-card>
  <p-card header="Simple Card" [style]="{'width': '25rem', 'height': '600px', 'margin-bottom': '2em'}">
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p> -->
    <p>Available products in out store: {{_productsService.amountOfProducts}}</p>
    <p>Number of orders submitted in our store: {{_ordersService.amountOfOrders}}</p>

    <h2 *ngIf="(currentUser && !_ordersService.lastOrderDate && !currentCart)">Welcome to your first purchase</h2>
    <div  *ngIf="currentCart && currentCart.isOpen">
      <h2>You have open cart from:</h2>
      <h2>{{ currentCart?.creationDate | date:'medium' }}</h2>
    </div>
    <div *ngIf="!currentCart?.isOpen && _ordersService.lastOrderDate">
      <h2>Your last order was at:</h2>
      <h2>{{ _ordersService.lastOrderDate | date:'medium' }}</h2>
    </div>
  </p-card>
</div>
