
<div class="start-page-container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
  <div class="card middle-card">
    <p>
      Welcome to Giant Food, the best super market in the country! <br>
      We sell all kind of groceries, with the cheapest prices. <br>
      We also have a shippment service, you just need to write the adress and the required shipment
      date and we will be there with your cart.
  </p>
  <img class="middle-img" src="../../../assets/images/start-screen/cart.jpg" alt="">
  </div>
  <div class="card right-card">
    <p>Available products: <br> <strong>{{_productsService.amountOfProducts}}</strong></p>
    <p>Number of orders submitted: <br> <strong>{{_ordersService.amountOfOrders}}</strong></p>
    <br>
    <div *ngIf="!currentUser" class="user-details">
      <p>Admin Email: barak234@gmail.com</p>
      <p>Password: 987654</p><br>
      <p>Random user Email: barak@gmail.com</p>
      <p>Password: 123456</p>
    </div>
    <div *ngIf="currentUser && currentUser.role == 'user'">
      <p *ngIf="(currentUser && !_ordersService.lastOrderDate && !currentCart)">Welcome to your first purchase</p>
      <div  *ngIf="currentCart">
        <p>You have open cart from:</p>
        <p><strong>{{ currentCart?.creationDate | date:'medium' }}</strong></p>
      </div>
      <div *ngIf="!currentCart && _ordersService.lastOrderDate">
        <p>Your last order was at:</p>
        <p><strong>{{ _ordersService.lastOrderDate | date:'medium' }}</strong></p>
      </div>
    </div>
  </div>
</div>
