
<div class="start-page-container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
  <div class="card">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
  </p>
  </div>
  <div class="card">
    <p>Available products in out store: {{_productsService.amountOfProducts}}</p>
    <p>Number of orders submitted in our store: {{_ordersService.amountOfOrders}}</p>
    <div *ngIf="currentUser && currentUser.role == 'user'">
      <h2 *ngIf="(currentUser && !_ordersService.lastOrderDate && !currentCart)">Welcome to your first purchase</h2>
      <div  *ngIf="currentCart">
        <h2>You have open cart from:</h2>
        <h2>{{ currentCart?.creationDate | date:'medium' }}</h2>
      </div>
      <div *ngIf="!currentCart && _ordersService.lastOrderDate">
        <h2>Your last order was at:</h2>
        <h2>{{ _ordersService.lastOrderDate | date:'medium' }}</h2>
      </div>
    </div>
  </div>
</div>
