

.start-page-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  overflow: auto;
  width: 300px;
  margin-bottom: 10px;
}

.middle-card, .right-card{
  text-align: center;
}

.middle-img{
  width: 203px;
}

@media screen and (max-width: 960px) {
  .card {
      height: fit-content;
  }
}

