  <h1>Login</h1>
  <br>
<form [formGroup]="userLoginForm" (ngSubmit)="login()">
  <span class="p-float-label">
    <input formControlName="userName"  type="text" pInputText id="username" name="username"/>
    <label for="username">Email</label>
  </span>
  <div class="errors-div" *ngIf="userLoginForm.controls['userName'].invalid && (userLoginForm.controls['userName'].dirty || userLoginForm.controls['userName'].touched)">
    <div *ngIf="userLoginForm.controls['userName'].errors.required">
    Please enter email
    </div>
    <div *ngIf="userLoginForm.controls['userName'].errors.email">
      Please enter valid email
    </div>
    <div *ngIf="userLoginForm.controls['userName'].errors.maxlength">
      Maximum length is 50 characters
    </div>
  </div>
  <br>
  <span class="p-float-label">
    <input formControlName="password" type="password" pInputText  name="password"/>
    <label for="float-input">Password</label>
  </span>
  <div class="errors-div" *ngIf="userLoginForm.controls['password'].invalid && (userLoginForm.controls['password'].dirty || userLoginForm.controls['password'].touched)">
    <div *ngIf="userLoginForm.controls['password'].errors.required">
    Please enter password
    </div>
    <div *ngIf="userLoginForm.controls['password'].errors.minlength">
      Length should be at least 6 characters
    </div>
    <div *ngIf="userLoginForm.controls['password'].errors.maxlength">
      Maximum length is 10 characters
    </div>
  </div>
  <br><br>
  <p-button [disabled]="userLoginForm.invalid" type="submit">Submit</p-button>
</form>
<br>
<a routerLink="/start-screen/register/step-one">not registered? click here</a>
