
  <!-- User Name: <br>
  <input type="text" [(ngModel)]="userName"> <br>
  Password: <br>
  <input type="password" [(ngModel)]="password" ><br>
  <button (click)="login()">Submit</button><br> -->
  <!-- <button (click)="addNewOrder()">Add New Order</button> -->
  <!-- <button (click)="getBusyDays()">get Busy days</button> -->
  <!-- <button (click)="getLastOrderDate()">get last order date</button> -->
  <!-- <button (click)="getAllCategories()">get all Categories</button> -->
  <!-- <button (click)="addToCart()">Add To Cart</button> -->
  <!-- <button (click)="deleteCartItem()">delete Cart Item</button> -->
  <!-- <button (click)="updateCartItemQuantity()">update Cart Item Quantity</button> -->
  <!-- <button (click)="deleteAllCartItems()">delete all cart items</button> -->
  <!-- <button (click)="getCartItems()">get cart items</button> -->

  <p-card header="Log In" [style]="{'width': '25rem', 'height': '400px', 'margin-bottom': '2em'}">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  </p-card>


