
  User Name: <br>
  <input type="text" [(ngModel)]="userName"> <br>
  Password: <br>
  <input type="password" [(ngModel)]="password" ><br>
  <button (click)="login()">Submit</button><br>
  <!-- <button (click)="addNewOrder()">Add New Order</button> -->
  <!-- <button (click)="getBusyDays()">get Busy days</button> -->
  <!-- <button (click)="getLastOrderDate()">get last order date</button> -->
  <!-- <button (click)="getAllCategories()">get all Categories</button> -->
  <!-- <button (click)="addToCart()">Add To Cart</button> -->
  <!-- <button (click)="deleteCartItem()">delete Cart Item</button> -->
  <!-- <button (click)="updateCartItemQuantity()">update Cart Item Quantity</button> -->

