.add-or-edit-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.errors-div{
  color: red;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
}

.p-float-label{
  margin-top: 5px;
}

h1{
  text-align: center;
}

.add-or-edit-button{
  margin-left: 3px;
  margin-right: 3px;
}
