<div class="cart-container">
  <h1>My Cart</h1>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let cartItem of cartItems">
      <img class="cart-item-img" src="{{'/assets/images/' + cartItem.imgUrl }}" alt="" />
      {{ cartItem.name }} <br>
        X {{ cartItem.quantity }} <br>
        {{ cartItem.unitPrice * cartItem.quantity | currency: "ILS" }}
      <div class="edit-and-delete-buttons">
        <button class="edit-item-button" (click)="editItemQuantity(cartItem)">✍</button>
        <button class="delete-item-button" (click)="deleteCartItem(cartItem.id)">❌</button>
      </div>
    </div>
  </div>
  <h2 class="no-cart-items" *ngIf="!cartItems?.length">there are no cart items</h2>
  <div class="bottom-div">
    <h4>Total: {{_cartItemsService.totalPrice | currency: "ILS"}}</h4>
    <button class="delete-all-items-button" (click)="showConfirm()" pButton type="button" label="Delete all"></button>
    <button class="order-button" pButton type="button" label="Order" (click)="onOrderButtonClicked()"></button>
  </div>
</div>

<app-add-or-edit-cart-item *ngIf="displayModal" [cartItem]="currentCartItem" [(displayModal)]="displayModal"></app-add-or-edit-cart-item>

<p-toast position="top-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
              <div class="p-col-6 clearModalButtonDiv">
                  <button type="button"  pButton (click)="onConfirm()" label="Yes" class="p-button-success clearModalButton"></button>
                  <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary clearModalButton"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>

