
h1, .no-cart-items{
  text-align: center;
}

.no-cart-items{
  color: red;
}

.cart-item-img{
  margin: 5px;
  width:  50px;
  height: 50px;
}

.cart-item{
  display: flex;
  margin: 5px;
  padding: 5px;
}

.delete-item-button, .edit-item-button{
  font-size: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
}

.bottom-div{
  position: sticky;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.delete-all-items-button, .order-button{
  font-size: 10px;
}

.total-price, .delete-all-items-button, .order-button{
  margin-left: 2px;
  margin-bottom: 1px;
}

.total-price{
  background-color: #3B82F6;
  padding: 10px;
  border-radius: 3px;
  font-size: 15px;
  align-self: center;
  color: white;
}

.cart-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clearModalButton {
  min-width: 10rem;
  margin-right: .5rem;
}

@media screen and (max-width: 960px) {
  .clearModalButton {
      width: 100%;
      margin-bottom: .5rem;
  }
}

.clearModalButtonDiv{
  display: flex;
}

.p-text-center{
  text-align: center;
}

