<div class="cart-container">
  <h1>My Cart</h1>
  <div class="cart-item" *ngFor="let cartItem of _cartItemsService.cartItems">
    <img class="cart-item-img" src="{{ cartItem.imgUrl }}" alt="" />
    <div>
      {{ cartItem.name }} X {{ cartItem.quantity }}<br />
      {{ cartItem.unitPrice * cartItem.quantity | currency: "ILS" }}
    </div>
    <button class="delete-item-button" (click)="deleteCartItem(cartItem.id)">❌</button>
  </div>
  <h2 class="no-cart-items" *ngIf="!_cartItemsService.cartItems.length">there are no cart items</h2>
  <div class="bottom-div">
    <h4>Total: {{_cartItemsService.totalPrice | currency: "ILS"}}</h4>
    <button class="delete-all-items-button" (click)="deleteAllCartItems()" pButton type="button" label="Delete all items"></button>
    <button class="order-button" pButton type="button" label="Order" (click)="this.router.navigate(['/order'])"></button>
  </div>
</div>
