/* .products-and-categories{
  margin-top: 10px;
  width:70%;
} */


.category{
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-right: 2px solid;
  font-size: medium;
}


.products{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.product{
  width: 250px;
  border: 2px solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}

.product-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;
  height: 100px;
}

.button{
  /* width: 50%;
  height: 30%;
  font-size: 10px;
  text-align: center;
  padding: px; */
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
}

.plus-or-minus-button{
  width: 20px;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  text-align: center;
}
.product-amount-input{
  width: 50px;
}
.amount-input-container{
  display: flex;
  justify-content: center;
}

.amount-error{
  color: red;
  margin-top: 10px;
}

.no-products{
  margin-top: 25px;
  color: red
}
