  <div class="navbar">
    <p-tabView
      class="nav-bar" [scrollable]="true" [(activeIndex)]="_categoriesService.selectedCategory"
      (onChange)="onSelectedCategoryClicked($event)" *ngIf="categories.length != 0" >
      <p-tabPanel *ngFor="let category of categories" [header]="category?.name">
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="products">
    <div class="product" *ngFor="let product of _productsService.products">
      <div>
        <img class="product-img" src="{{'/assets/images/' + product.imgUrl}}" alt="">
      </div>
      <h2>{{product.name}}</h2>
      <h2>{{product.price | currency:"ILS"}}</h2>
      <button *ngIf="currentUser.role == 'admin'" class="button" pButton (click)="onEditProductClicked(product)">Edit Product</button>
      <button *ngIf="currentUser.role == 'user'" class="button" pButton (click)="onAddToCartClicked(product)">Add To Cart</button>
    </div>
    <h2 class="no-products" *ngIf="!_productsService.products.length">Sorry, there are no products to be displayed</h2>
  </div>

  <app-add-or-edit-cart-item *ngIf="displayModal" [product]="productToAdd" [(displayModal)]="displayModal"></app-add-or-edit-cart-item>
