<p-card header="Simple Card" [style]="{'width': '25rem', 'height': '600px', 'margin-bottom': '2em'}">
  <!-- <h1 *ngIf="(!_ordersService.lastOrderDate && _cartItemsService.cartItems && !_cartItemsService.cartItems.length)">Welcome to your first purchase</h1>
  <div *ngIf="_ordersService.lastOrderDate">
    <h2>Your last order was at:</h2>
    <h2>{{ _ordersService.lastOrderDate | date:'medium' }}</h2>
  </div> -->
  <p-button (click)="onResumeShoppingButtonClicked()" *ngIf="currentCart">Resume Shopping</p-button>
  <p-button (click)="onStartShoppingButtonClicked()" *ngIf="!currentCart">Start Shopping</p-button>
</p-card>
